@model DeptAndCourseListsViewModel
@{
    ViewData["Title"] = "Add";
}
<h1>Add</h1>
<form method="post" action="/Instructor/SaveAdd">
    <div>
        <label>Name</label>
        <input name="Name" id="Name" type="text" class="form form-control" />
    </div>
    <div>
        <label>Image</label>
        <input name="ImageUrl" id="ImageUrl" type="text" class="form form-control" />
    </div>
    <div>
        <label>Salary</label>
        <input name="Salary" id="Salary" type="text" class="form form-control" />
    </div>
    <div>
        <label>Address</label>
        <input name="Address" id="Address" type="text" class="form form-control" />
    </div>
    <div>
        <label>Department</label>
        <select id="dept_id" name="dept_id"  class="form form-control" onchange="GetCourses()">
            @foreach(var deptItem in Model.Departments)
            {
                <option value="@deptItem.Id">@deptItem.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Course</label>
        <select id="courses" name="courses" class="form form-control">
        </select>
    </div>
    <div>
    <input type="submit" value="Create" class="btn btn-primary  " />
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function GetCourses(){
        var deptId = document.getElementById("dept_id").value;
        var CoursesElement = document.getElementById("courses");
       CoursesElement.innerHTML = "";

        $.ajax({
            url: "/Instructor/GetCoursesByDeptId?deptid=" + deptId,
            success: function (result) {
                for (let crs of result) {
                    CoursesElement.innerHTML += "<option value='" + crs.id + "'>" + crs.name + "</option>";
                }
            }
        });
    }
</script>
