@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<partial name="_RoleForm" model="new RoleViewModel()" />
<table class="table table-bordered table-hover">
<tr> 
    <td>Roles</td>
</tr>
@foreach(var role in Model)
{
    <tr>
        <td>@role.Name</td>
    </tr>
}
</table>